[user]
	name = Jailen.D
	email = duncan.170@wright.edu
[core]
	editor = vim
[help]
	autocorrect = 2
[include]
	path = ~/dotfiles/.gitmessage.txt
[alias]
	ga = git add
	gc = git commit
	gp = git push
	home = cd ~
